<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TPV</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
		<div th:include="plantilla.html::header"></div>
        <main >
			<section>
				<h3>ERROR 404</h3>
				<p>La Página no existe</p>
			</section>
          
        </main>
        <footer>
            <p>Designed by: Maite Navas</p>
    	</footer>
       

    </body>
</html>