<div th:fragment="header">
   <header>
        <div id="header-title">
            <h1>Bar Tamarindo - TPV</h1>    
        </div>
        <nav id="header-nav">
            <ul>
                <li>
                    <a th:href="@{/tpv}" class="link-menu">TPV</a>
                </li>
                <li>
                    <a th:href="@{/ventas}" class="link-menu">VENTAS</a>
                </li>
                <li>
                    <a th:href="@{/admin}" class="link-menu">ADMIN</a>
                </li>
            </ul>       
        </nav>
 
    </header>
    	
</div>
